

.header.sticky {
    position: fixed;
    background-color: white;
    /* border-bottom: 1px solid var(--bg-dark); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .sticky .header__link {
    color: black;
  }
  
  .header .header__logo {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header .header__logo img {
    height: 65px;
  }
  
  /* .header__logo {} */
  
  .header-desktop {
    height: 120px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .header.sticky .header-content {
    height: 100px;
  }
  
  .header .header__menu {
    transition: 0.3s ease;
    display: flex;
  }
  
  .header .header__menu li {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 5px;
    margin-inline: 1px;
  }
  
  .header .header__menu li a {
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-light);
    cursor: pointer;
    display: block;
    font-size: 16px;
  }
  .header.sticky .header__menu li a {
    color: black;
  }
  .header .header__menu li:hover {
    background-color: var(--bg-dark);
  }
  .header .header__menu li:hover a {
    color: var(--text-light);
  }
  
  .header .header__menu .active {
    background-color: var(--bg-dark);
  }
  
  .header .header__menu .active a {
    color: var(--text-light) !important;
  }
  
  .header .header__social {
    background-color: var(--bg-dark);
    display: none;
  }
  
  .header .header__social-center {
    display: flex;
    height: 40px;
    color: var(--text-light);
    justify-content: space-between;
    align-items: center;
  }
  .header .header__social-center i {
    color: var(--text-light);
    font-size: 20px;
  }
  .header .header__social-center p {
    color: var(--text-light);
    font-size: 15px;
  }
  
  /* .header-social-left p{
      font-size: 18px;
  } */
  
  .header__social-right i {
    cursor: pointer;
    font-size: 30px;
    padding-left: 1.2rem;
  }
  /* .header__social-right a{} */
  
  .togglebar {
    display: none;
  }
  .toggle_close {
    display: none;
    height: 70px;
  }
  .toggle_close i {
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .header-mobile {
    display: none;
  }
  .header-sidebar {
    display: none;
  }
  
  @media (max-width: 992px) {
    .header-content {
      display: none;
    }
  
    /* mobile-navbar  */
  
    .header-mobile {
      display: grid;
      grid-template-columns: 70px 1fr;
      padding: 1rem;
    }
    .header-mobile .mobile__open {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: end;
    }
    .header-mobile .mobile__open i {
      font-size: 25px;
      color: var(--bg-light);
    }
    .sticky .header-mobile .mobile__open i {
      font-size: 25px;
      color: var(--bg-dark);
    }
    
  }
  
  @media (max-width: 768px) {
    .header .header__social-center i {
      font-size: 22px;
    }
    .header .header__social-center p {
      font-size: 16px;
    }
  
    .header .header__social-center {
      height: 38px;
    }
  }
  
  @media (max-width: 576px) {
  }
  