.breadcrumb{
    padding-block: 4px;
    background-color: gray;
    height: 40dvh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
   
}
.breadcrumb a{
    color: white;
    border-bottom: 2px solid var(--bg-dark);
    font-size: 1.2rem;
}
.breadcrumb .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    padding-top: 20px;
}

.breadcrumb p{
    color: white;
    font-size: 1.2rem;
}

.breadcrumb i{
    color: white;
}



/* responsive design  */



@media (max-width: 768px) {
    .breadcrumb{
        height: 50dvh;   
    }
}
@media (max-width: 576px) {
    .breadcrumb{
        height: 30dvh;   
    }
}